accounting/schemas/firs_vat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  FIRS Value-Added Tax monthly return. Aligned with the FIRS VAT
  Module under ITAS. Tracked against the 2024 bulk-upload spec.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="VATReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header"   type="VATHeaderType"/>
        <xs:element name="Outputs"  type="VATTotalsType"/>
        <xs:element name="Inputs"   type="VATTotalsType"/>
        <xs:element name="Computation" type="ComputationType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="VATHeaderType">
    <xs:sequence>
      <xs:element name="TaxpayerTIN"   type="TINType"/>
      <xs:element name="TaxpayerName"  type="xs:string"/>
      <xs:element name="PeriodYear">
        <xs:simpleType><xs:restriction base="xs:gYear"/></xs:simpleType>
      </xs:element>
      <xs:element name="PeriodMonth">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReturnType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ORIGINAL"/>
            <xs:enumeration value="AMENDED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VATTotalsType">
    <xs:sequence>
      <xs:element name="StandardRated"   type="AmountType"/>
      <xs:element name="ZeroRated"       type="AmountType"/>
      <xs:element name="Exempt"          type="AmountType"/>
      <xs:element name="VATCollected"    type="AmountType" minOccurs="0"/>
      <xs:element name="VATPaid"         type="AmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ComputationType">
    <xs:sequence>
      <xs:element name="OutputVAT"       type="AmountType"/>
      <xs:element name="InputVAT"        type="AmountType"/>
      <xs:element name="VATPayable"      type="xs:decimal"/>  <!-- may be negative (refund) -->
      <xs:element name="VATCredit"       type="AmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TINType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8,14}(-[0-9]{4})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AmountType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
