accounting/schemas/firs_wht.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  FIRS Withholding Tax schedule — Quot PSE internal representation.

  Based on FIRS Integrated Tax Administration System (ITAS) submission
  format for WHT monthly returns. Field names / cardinalities tracked
  against the 2024 revision of the FIRS Bulk Upload guide.

  This schema is the source-of-truth contract between our exporter
  (``accounting.services.statutory_xml.FIRSWHTExporter``) and the
  regulator. If FIRS publishes a new revision, update this file and
  the validator picks up the change automatically.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="WHTReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header"   type="HeaderType"/>
        <xs:element name="Summary"  type="SummaryType"/>
        <xs:element name="Lines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Line" type="LineType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="TaxpayerTIN"   type="TINType"/>
      <xs:element name="TaxpayerName"  type="xs:string"/>
      <xs:element name="PeriodYear"    type="YearType"/>
      <xs:element name="PeriodMonth"   type="MonthType"/>
      <xs:element name="ReturnType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ORIGINAL"/>
            <xs:enumeration value="AMENDED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PreparedBy"    type="xs:string"/>
      <xs:element name="PreparedAt"    type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SummaryType">
    <xs:sequence>
      <xs:element name="LineCount"    type="xs:nonNegativeInteger"/>
      <xs:element name="TotalGross"   type="AmountType"/>
      <xs:element name="TotalWHT"     type="AmountType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LineType">
    <xs:sequence>
      <xs:element name="PayeeName"       type="xs:string"/>
      <xs:element name="PayeeTIN"        type="TINType" minOccurs="0"/>
      <xs:element name="PayeeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="COMPANY"/>
            <xs:enumeration value="INDIVIDUAL"/>
            <xs:enumeration value="PARTNERSHIP"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InvoiceNumber"   type="xs:string"/>
      <xs:element name="InvoiceDate"     type="xs:date"/>
      <xs:element name="GrossAmount"     type="AmountType"/>
      <xs:element name="WHTRate"         type="RateType"/>
      <xs:element name="WHTAmount"       type="AmountType"/>
      <xs:element name="NatureOfPayment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONTRACT"/>
            <xs:enumeration value="CONSULTANCY"/>
            <xs:enumeration value="RENT"/>
            <xs:enumeration value="DIVIDEND"/>
            <xs:enumeration value="INTEREST"/>
            <xs:enumeration value="ROYALTY"/>
            <xs:enumeration value="DIRECTORS_FEE"/>
            <xs:enumeration value="COMMISSION"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TINType">
    <!-- 10-14 digits, optional trailing hyphenated suffix. -->
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8,14}(-[0-9]{4})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YearType">
    <xs:restriction base="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="MonthType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AmountType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RateType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
